{% extends 'front_office/base.html.twig' %}

{% block page_title %}
Welcome In Tunisia {% endblock %}
{% block content %}
<div class="main-top" id="home">
    <!-- banner -->
    <div class="main-banner">
        <div class="container-fluid">
            <div class="style-banner ">
                <div class="row">


                    <div class="col-lg-8 col-md-8 col-sm-9">
                        <div class="banner-right-txt">
                            <h4>Welcome to Tunsia</h4>
                            <h4>With Tun-Trips</h4>
                            <div class="two-demo-button mt-lg-4 mt-md-3 mt-3">
                                <p> </p>
                            </div>
                            <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                                <a href="{{ path('login') }}" class="btn">Login Now</a>
                                <a href="{{ path('street') }}" class="btn"> Where we are ?</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //banner -->

</div>
    <!-- service -->
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="row">
                <div class="col-lg-3 main-title-text">
                    <h2 class="title">What We Offers & Services</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
                            <div class="ser-fashion-grid">
                                <div class="about-icon mb-md-4 mb-3">
                                    <span class="fa fa-handshake-o" aria-hidden="true"></span>
                                </div>
                                <div class="ser-sevice-grid">
                                    <h4 class="pb-3">Hébergements</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
                            <div class="ser-fashion-grid">
                                <div class="about-icon mb-md-4 mb-3">
                                    <span class="fa fa-free-code-camp" aria-hidden="true"></span>
                                </div>
                                <div class="ser-sevice-grid">
                                    <h4 class="pb-3">Transport</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
                            <div class="ser-fashion-grid">
                                <div class="about-icon mb-md-4 mb-3">
                                    <span class="fa fa-clone" aria-hidden="true"></span>
                                </div>
                                <div class="ser-sevice-grid">
                                    <h4 class="pb-3">Evenement</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//service -->
    <!--blog -->
    <section class="blog" id="blog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ">
                    <div class="blog-wthree-list">
                        <div class="blog-date-time mb-2">
                            <ul>
                                <li>
                                    <a href="single.html">July 2020/7</a>
                                </li>
                                <li>
                                    <a href="single.html">Comments 5</a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="mb-3">
                            <a href="single.html">Lorem ipsum dolor</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.Vestibulum nibh urna</p>
                        <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                            <a href="single.html" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 main-title-text">
                    <h3 class="title">Our Latest News & Blog</h3>
                </div>
            </div>
            <div class="row mt-lg-4 mt-3">
                <div class="col-lg-6 blog-two-two">
                    <div class="blog-date-time mb-2">
                        <ul>
                            <li>
                                <a href="single.html">July 2020/7</a>
                            </li>
                            <li>
                                <a href="single.html">Comments 5</a>
                            </li>
                        </ul>
                    </div>
                    <h4 class="mb-3">
                        <a href="single.html">Lorem ipsum dolor</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.Vestibulum nibh urna</p>
                    <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                        <a href="single.html" class="btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="images/blog1.jpg" alt="news image" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/blog2.jpg" alt="news image" class="img-fluid">
                </div>
                <div class="col-lg-6 blog-two-two">
                    <div class="blog-date-time mb-2">
                        <ul>
                            <li>
                                <a href="single.html">July 2020/7</a>
                            </li>
                            <li>
                                <a href="single.html">Comments 5</a>
                            </li>
                        </ul>
                    </div>
                    <h4 class="mb-3">
                        <a href="single.html">Lorem ipsum dolor</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.Vestibulum nibh urna</p>
                    <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                        <a href="single.html" class="btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//blog-->

{% endblock %}
