{% extends 'front_office/base.html.twig' %}

{% block page_title %}
Welcome In Tunisia {% endblock %}
{% block content %}
<div class="main-top" id="home">
    <!-- banner -->
    <div class="main-banner">
        <div class="container-fluid">
            <div class="style-banner ">
                <div class="row">


                    <div class="col-lg-8 col-md-8 col-sm-9">
                        <div class="banner-right-txt">
                            <h4>Welcome to Tunsia</h4>
                            <h4>With Tun-Trips</h4>
                            <div class="two-demo-button mt-lg-4 mt-md-3 mt-3">
                                <p> </p>
                            </div>
                            <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                                <a href="{{ path('app_login') }}" class="btn">Login Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //banner -->
</div>
{% endblock %}
