{% extends 'front_office/base.html.twig' %}
{% block content %}

    <head>
        <title>Classy Register Form Responsive Widget Template :: W3layouts</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Classy Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Meta tag Keywords -->
        <!-- css files -->
        <link href={{ asset('registry/css/style.css')  }} rel="stylesheet" type="text/css" media="all">
        <!-- //css files -->
        <!-- online-fonts -->
        <link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
        <!--//online-fonts -->
    </head>
    <body>
    <div class="header">
    </div>
    <div   style="padding-top: 20rem;" class="w3-main">
        <!-- Main -->
        <div class="about-bottom main-agile book-form">
            <div class="alert-close"> </div>

            <form id="login-form" class="form" action="{{ path('newpassword') }}" method="post">
                <div class="form-date-w3-agileits">
                    <h3 class="text-center text-info">Change Password</h3>
                    <div class="form-group">
                        <label for="username" class="text-info">New Password:</label><br>
                        <input type="text" name="pass1"  id="pass1" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info"> Confirm Password:</label><br>
                        <input type="text" name="pass2" id="pass2"  class="form-control">
                    </div>
                </div>
                <div class="make wow shake">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
        <!-- //Main -->
    </div>
    <!-- footer -->
    <div class="footer-w3l">
        <p>&copy; 2017 Classy Register Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    <!-- //footer -->
    <!-- js-scripts-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script>$(document).ready(function(c) {
            $('.alert-close').on('click', function(c){
                $('.main-agile').fadeOut('slow', function(c){
                    $('.main-agile').remove();
                });
            });
        });
    </script>
    <!-- //js-scripts-->
    </body>


{% endblock %}