
{% extends 'front_office/base.html.twig' %}

{% block content %}
    <div style="background-color: #0a0e14">
{% block title %}.{% endblock %}

<div style="height: 45rem; margin-top: 10rem; border: #0a001f">
    <form  action="{{ path('login') }}" method="post" >
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}



        <h1 class="h3 mb-3 font-weight-normal"></h1>
        <div class="row">
            <div class="offset-md-1 col-md-10" style="margin-bottom: 2rem";>
                <h5 style="font-style: oblique; color: #FFFFFF; font-max-size: large; ">Login</h5>

            </div>


            <div class="offset-md-1 col-md-10">
                <label style="color: #FFFFFF; " for="inputEmail">Email</label>
                <input type="email" value="{{ lastusername }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email here">
            </div>
            <div class="offset-md-1 col-md-10">

                <label style="color: #FFFFFF; " for="inputPassword">Password</label>
                <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="password here ">

            </div>

            <div class="offset-md-1 col-md-6" style="margin-top: 3rem;" >

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>

        </div>

        <div class="checkbox mb-3 " style="margin-left:11rem; margin-top :2rem ;">
            <label style="color: #FFFFFF">
                <input type="checkbox" name="_remember_me"  > Remember me
            </label>
        </div>


    </form>
</div>
    </div>
{% endblock %}
