

    <div class="main-top" id="home">
    <!-- banner -->

        <div class="container ">
            <div class="container-sm" style="padding-top: 7rem;  ">



                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>


